.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 60px;
    width: 1200px;
    height: 100%;
    padding: 0 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 5;

    &__logo {
        grid-area: 2 / 1 / 3 / 2;
    }

    &__links {
        grid-area: 2 / 3 / 3 / 5;
    }

    &__links li {
        display: inline;
        padding: 20px;
    }

    &__links a {
        text-decoration: none;
        font-family: variables.$nav_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: variables.$color;
    }
}